$param-title-width: 100%;

.input-block {
  min-width: 200px;
  max-width: 400px;
  margin: auto;
}

.input-block label {
  width: $param-title-width;
  display: inline-block;
  left: 0;
  padding-top: 20px;
}

.input-block input {
  width: $param-title-width;
  display: inline-block;
  float: left;
}

.view-header {
  font-weight: bold;
}

.warning {
  color: red;
}

.corner-btn{
  float:right;
}

.comment {
  width: 100%;
  min-height: 50px;
}

input[type='submit'] {
  width: 100px;
  margin: auto;
}

button {
  width: 100px;
}

.message{
  color: green;
  padding-top: 40px;
}

.modal {
  text-align: center;
  top: 20%;
  left: 20%;
  right:20%;
  color: white;
  height: 300px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.modal-text{
  margin: auto;
  width:  100%;
}

.modal div{
  padding-top: 10%;
}

.modal button{
  margin-top: 10%;
}

form {
  padding-bottom: 70%;
}

.grow {
  animation-name: grow;
  animation-duration: 3s;
}

@keyframes grow {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}